body {
  background-color: #f5f0e1; 
  color: #5c3a21; 
  font-family: "Merriweather", serif;
  font-size: 1.05rem;
  line-height: 1.6;
  margin: 20px;
  padding: 0;
  background-image: url('../images/background.jpg'); 
  background-attachment: fixed;
  background-position: center;
}


h1, h2, h3 {
  font-family: "Playfair Display", serif;
  color: #8b5e3c; 
  text-shadow: 1px 1px 2px #d8c3a5; 
  font-style: normal; 
  margin-bottom: 15px;
}


p {
  color: #5c3a21;
}


li {
  color: #6b4f37;
  margin-bottom: 5px;
}

ul li {
  list-style-type: square;
}

ol {
  color: #6b4f37;
  margin-left: 20px;
}


hr {
  border: 1px solid #8b5e3c;
  margin: 20px 0;
}


figure {
  text-align: center;
  margin: 20px 0;
}

figcaption {
  color: #8b5e3c;
  font-style: italic;
  margin-top: 5px;
}


input[type="text"] {
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #8b5e3c;
  background-color: #ffffff;
  color: #5c3a21;
}


fieldset {
  border: 1px solid #8b5e3c;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  width: 250px;
}

legend {
  color: #8b5e3c;
  font-weight: bold;
}

input[type="radio"] {
  margin-right: 5px;
}


.right-align {
  text-align: right;
  color: #8b5e3c;
  font-style: italic;
}


/*div {
  border: double cornflowerblue;
}*/

.wrapper {
  display: flex;
}

.wrapper div {
  flex: 1;
}

.menu {
  display: flex;
  padding: 0;
}

.menu li {
  list-style-type: none;
  padding-right: 16px;
}

.fill-vertical {
  display: flex;
  flex-direction: column;
}

.footer-line {
  display: flex;
  justify-content: space-between;
}
